@model Booking.ViewModels.CarInfoViewModel

@{
    ViewBag.Title = "CarInfoViewModel";
    TempData["TrainInfo"] = ViewBag.TrainInfo;

}


<div class="wagonborder">
    @{
        int left = 48;
        string leftpx = String.Format("{0}px", left);
        <div class="wall" style="left:5px"></div>
        <img src="https://booking.uz.gov.ua//i/img/coach/toilet_full.png" style="left:40px" class="toilet" />
        <div class="wall" style="left:@leftpx"></div>
        string leftpxwall;
        left = 70;
        for (int i = 1; i <= Model.CountOfSeats; i += 2)
        {
            leftpx = String.Format("{0}px", left);
            leftpxwall = String.Format("{0}px", left + 25);
            int a = i + 1;

            <div class="place evenplace" style="left:@leftpx; "> @a</div>
            <div class="place oddplace" style="left:@leftpx; "> @i</div>

            if (a % 4 == 0)
            {
                <div class="wall" style="left:@leftpxwall"></div>
            }

            left = left + 50;

        }

        <img src="https://booking.uz.gov.ua//i/img/coach/toilet_full.png" style="left:980px" class="toilet" />
        <div class="wall" style="left:988px"></div>
        <br />

    }
</div>

