
@{
    ViewBag.Title = "Index";
}
<br />
<div class="welcome" id="shadow">
    <br />
    <h1>Ласкаво просимо до Booking</h1>
    <img  src="~/img/main_train.gif" />
    <div class="form-group">
        <center> @Html.ActionLink("Пошук потягів", "Search", null, new { @class = "btn btn-primary btn-lg" })</center>
    </div>
</div>
