
@{
    ViewBag.Title = "Index";
}
    <div class="welcome" id="shadow">
        <br />
        <br />
        <br />
        <h1>Ласкаво просимо до Booking</h1>
        <img src="~/img/main_train.gif" />
        <div class="form-group">
            @Html.ActionLink("Пошук потягів", "Search", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
